@{
    Layout = "_layout";
}

<head>
    <style>
        label{
            padding-bottom:15px;
            padding-left:10px;
        }
    </style>
</head>

<form asp-action="Index" style="padding:50px">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-@TempData["AlertType"] alert-dismissible fade show" role="alert">
            @TempData["Message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <h3 class="h3" style="align-items:center;text-align:center">فرم درخواست معاینه فنی</h3>
    <br/>
    <input class="form-control" type="hidden" name="Id">
    <input class="form-control" type="hidden" name="UserId">
    <input class="form-control" type="hidden" name="SetDate">

    <label  name="Name" for="Name">نام خودرو </label>
    <input class="form-control" type="text" name="Name" placeholder="Name" id="Name">
    <br />    <br />


    <label  name="companyCar" for="companyCar"> شرکت </label>
    <select class="form-control" name="companyCar">
        <option class="form-control" value="">انتخاب کنید</option>
        <option class="form-control" value="0">ایرانخودرو</option>
        <option class="form-control" value="1"> سایپا</option>
    </select>
    <br />    <br />
    @*         <label name="Company" for="Company"> شرکت </label>
    <input type="text" name="Company" placeholder="Company" id="Company">
    <br><br> *@
    <label  name="Pluk" for="Pluk"> پلاک </label>
    <input class="form-control" type="text" name="Pluk" placeholder="Pluk" id="Pluk">
    <br />    <br />
    <label  name="CreateYear" for="CreateYear"> سال تولید </label>
    <input class="form-control" type="date" name="CreateYear" placeholder="CreateYear" id="CreateYear">
    <br />    <br />



    <label  name="FirstName" for="Address">آدرس  </label>
    <input class="form-control" type="text" name="Address" placeholder="Address" id="Address">
    <br />    <br />
    <label  name="NationalCode" for="NationalCode">کدملی</label>
    <input class="form-control" type="text" name="NationalCode" placeholder="NationalCode" id="NationalCode">
    <br />    <br />
    <label  name="Phone" for="Phone">موبایل</label>
    <input class="form-control" type="tel" name="Phone" placeholder="Phone" id="Phone">
    <br />    <br />


    @*  <label name="MembershipType" for="MembershipType">اشتراک کاربری</label>
    <select name="membership">
    <option value="">انتخاب کنید</option>
    <option value="1">طلایی</option>
    <option value="2">نقره ای</option>
    <option value="3">برنزی</option>
    </select>
    <br><br> *@
    @* <label name="Gender" for="Gender">جنسیت</label>
    <select name="gender">
    <option value="">انتخاب کنید</option>
    <option value="0">مرد</option>
    <option value="1">زن</option>
    </select>
    <br><br> *@

    <br><br>
    <input style="width:100%" value="درخواست" class="btn btn-success" id="bin" name="Index" type="submit">
    <br />    <br />
</form>
