@{
    Layout = "_layout";
}

<form asp-action="Index">
    <h2 class="h2" style="text-align:center;align-items:center"> صفحه ورود مدیریت </h2>
    <div class="form-row">
        <div class="col">
            <input type="tel" name="Phone" class="form-control" placeholder="Phone">
        </div>
        <div class="col">
            <input type="text" name="NationalCode" class="form-control" placeholder="NationalCode">
        </div>
        <input value="ورود" class="btn btn-success"  name="Index" type="submit">
    </div>
</form>